body {
    font-family: 'Open Sans', sans-serif;
    background: #f4f4f4; 
}

.logo {
    width: 200px;
    height: 200px;
}

.header {
    display: flex;
    justify-content: center;
}

h2 { 
    text-align: center; 
    font-size: 30px; 
    font-weight: 600; 
}

table { 
    width: 100%; 
    border-collapse: collapse;
    margin-top: 20px; 
}

th, td { 
    border: 1px solid #ccc; 
    padding: 8px; 
    text-align: left; 
}

th {
    background: #AC3039; 
    color: #fff; 

}
